.header {
    top: 0;
    width: 100%;
    position: fixed;
    background: #673AB7;
    padding: 10px 0;
    color: #fff;
}

.header-greeting {
    margin-left: 20px;
}

.header-greeting div {
    float: left;
}

.header-menu {
    margin-right: 20px;
}

.header-menu div {
    float: right;
}
