<div class="table-view">
    <h1>Table view</h1>
    <div *ngFor="let ticket of tickets">
        <p>{{ticket.id}}: {{ticket.subject}}</p>
        <p>Created at: {{ticket.created_at}}</p>
        <p>Updated at: {{ticket.updated_at}}</p>
        <p>Status: {{ticket.status}}</p>
        <p>Priority: {{ticket.priority}}</p>
    </div>
</div>
