.table-view {
    width: 80%;
    margin: 100px auto; /* Center the DIV horizontally */
}

/* Clear floats after the items */
.table-view:after {
    content: "";
    display: table;
    clear: both;
}
