<app-header (pusher)="getViewMode($event)"></app-header>

<div *ngIf="tableView; then tableBlock else tileBlock"></div>

<ng-template #tableBlock>
    <app-table-view [tickets]="tickets"></app-table-view>
</ng-template>

<ng-template #tileBlock>
    <app-tile-view [tickets]="tickets"></app-tile-view>
</ng-template>


